body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue{
  color:#0d6efd;
}

.red{
  color:#dc3545;
}

.red-btn{
  background-color:#dc3545;
  border-radius: 4px;
  color: white;
  border: none;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
}

.red-btn:hover {opacity: .8}

.blue-btn{
  background-color:#0d6efd;
  border-radius: 4px;
  color: white;
  border: none;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
}

.blue-btn:hover {opacity: .8}


.page-header{
  font-size: 300%;
  text-align: center;
  color:#0d6efd;
}

.page-subheader{
    text-align: center;
  color:#0d6efd;
}

.bet{
  background-color: #f8f9fa;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}


.login{
  background-color: #f8f9fa;
border-radius: 5px;
justify-content: center;
/* Center horizontally*/
  width: 50%;
height: 60%;
margin: 0 auto;
text-align: center;
}

form{
text-align: center;
}
